@model UraniaWeb.Models.Admin

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<p class="text-danger">@ViewData["MensajeError"]</p>
<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassAdmin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAdmin" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
